@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2c2f33;
}

.nav-links li,
a,
.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: rgba(35, 39, 42);
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.3s;
  z-index: 10;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a {
  position: relative;
  padding-bottom: 5px;
}

.nav_links li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #edf0f1;
  position: absolute;
  bottom: 0%;
  left: 50%;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover::after {
  left: 0%;
  width: 100%;
}

header span {
  color: #edf0f1;
  font-weight: 600;
}

.button {
  padding: 5px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: rgba(0, 136, 169, 0.6);
}

/* header components
**********************************************************/

.home-img {
  background-image: url("img/header.jpg");
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: color;
  background-position-x: center;
  background-size: cover;
  width: 100%;
  padding: 25% 20px;
  margin-bottom: 5%;
  margin-top: 30px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66%;
  margin: auto;
}

.header-txt p,
.header-txt h1 {
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vw;
}

.header-txt h1 {
  font-size: 5vw;
}

.header-img {
  background-image: url("img/beach.jpg");
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* buttons
**********************************************************/

.hyper {
  color: rgba(0, 136, 169, 1);
  text-decoration: underline;
}

.button2 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0, 136, 169, 0.6);
  padding: 5px 20px;
  border-radius: 50px;
  border: 1px solid rgba(0, 136, 169, 0.6);
}

.center-div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.button2:hover {
  background-color: rgba(0, 136, 169, 1);
  color: white;
}

/* general body
**********************************************************/

.sub {
  margin-top: 5%;
  margin-bottom: 5%;
}

.sub h2,
.sub p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #edf0f1;
  letter-spacing: 2px;
}

.sub h2 {
  font-size: xx-large;
}

.gentext {
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
  padding: 10px;
  margin: 20px 10%;
}

.pos {
  position: absolute;
  width: 25px;
  height: 25px;
}

.top-left {
  top: 0;
  left: 0;
  border-top: 3px solid;
  border-left: 3px solid;
  border-color: #edf0f1;
}

.bottom-right {
  bottom: 0;
  right: 0;
  border-bottom: 3px solid;
  border-right: 3px solid;
  border-color: #edf0f1;
}

@media (min-width: 992px) {
  .gentext {
    width: 800px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/* Education
**********************************************************/

.ed {
  margin: auto;
  max-width: 900px;
  background-color: #23272a;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(37, 36, 36, 0.87);
}

.ed-box {
  position: relative;
  margin-left: 110px;
  border-radius: 0 8px 8px 0;
  padding: 20px 0;
}

.ed-box:after {
  content: "";
  width: 4px;
  height: 100%;
  background-color: rgba(0, 136, 169, 1);
  position: absolute;
  top: 0;
  left: -4px;
}

.ed-box p,
.ed-box h3 {
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.ed-box h3,
.date {
  color: rgba(0, 136, 169, 1);
}

.ed-entry {
  position: relative;
  padding: 0 30px;
  transition: 0.3s ease;
}

.ed-entry:after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid rgba(0, 136, 169, 1);
  background-color: rgba(35, 39, 42, 1);
  position: absolute;
  top: 0;
  left: -15px;
  z-index: 5;
}

.date {
  font-family: "Montserrat", sans-serif;
  font-size: small;
  position: absolute;
  top: 4px;
  left: -95px;
  opacity: 0.6;
}

.courses {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  justify-content: left;
  padding-top: 10px;
  margin-left: -10px;
}

.courses li {
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  font-size: small;
  border: 1px solid #edf0f1;
  border-radius: 5px;
  padding: 5px;
  margin: 4px 10px;
}

.education {
  background-image: url("img/bg2.jpg");
}

#hobby {
  background-image: url("img/editing.jpg");
  transition: 0.5s ease;
}

.has-img {
  background-position: center;
  background-size: cover;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color;
}

/* techinical skills
**********************************************************/

.skills-list {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: #23272a;
}

.skills-list h3 {
  font-family: "Montserrat", sans-serif;
  margin: 5px 0;
  font-size: medium;
  color: #edf0f1;
}

.container {
  width: 100%;
  background-color: #dcdcdc;
  border-radius: 5px;
}

.skills {
  text-align: right;
  padding: 10px 0;
  color: white;
  border-radius: 5px;
  background-color: rgba(0, 136, 169, 0.6);
}

.py {
  width: 90%;
}
.java {
  width: 82%;
}
.cplus {
  width: 85%;
}
.scrum {
  width: 80%;
}
.css {
  width: 80%;
}
.markup {
  width: 80%;
}
.sequel {
  width: 75%;
}
.aws {
  width: 50%;
}
.react {
  width: 30%;
}

.button-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button3 {
  margin-top: 10px;
  border: none;
  background-color: #23272a;
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  font-weight: 100px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  width: 100%;
}

.more-b {
  font-size: medium;
  color: #edf0f1;
}

#more {
  display: none;
}

@media (min-width: 992px) {
  .skills-list {
    width: 950px;
    margin: auto;
  }
}

/* Projects
**********************************************************/

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 240px 50px;
  grid-template-areas: "img" "txt" "overview";
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  background: #23272a;
  box-shadow: 5px 5px 15px rgba(37, 36, 36, 0.87);
  text-align: center;
  margin: 5% 20px;
  transition: 0.3s ease;
  cursor: pointer;
}

.proj-img {
  grid-area: img;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.proj-txt {
  grid-area: txt;
  margin: 15px;
  color: #edf0f1;
}

.proj-txt p {
  letter-spacing: 1px;
  font-size: medium;
  margin-top: 20px;
}

.proj-txt h4 {
  font-size: large;
  color: rgba(0, 136, 169, 1);
}

.proj-overview {
  grid-area: overview;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(0, 136, 169, 1);
}

.proj-overview .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: white;
}

.proj-overview .unit {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.proj-overview .count {
  font-size: 11px;
  font-weight: bold;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(37, 36, 36, 0.87);
}

.gaucho {
  background: url("img/ge.jpg");
  background-position: center;
  background-size: cover;
}

.pw {
  background: url("img/pw.jpg");
  background-position: center;
  background-size: cover;
}

.mg {
  background: url("img/mg.jpg");
  background-position: center;
  background-size: cover;
}

/* hobby
**********************************************************/

.hobby-list {
  margin: 5%;
  list-style: none;
}

.hobby-list li {
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.hobby-txt {
  background-color: rgba(35, 39, 42, 0.3);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(37, 36, 36, 0.87);
}

.hobby-txt:hover,
.active {
  background-color: rgba(35, 39, 42, 0.75);
}

.hobby-txt h3,
.hobby-txt p {
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.hobby-txt h3 {
  color: rgba(0, 136, 169, 1);
}

.badmin {
  background-image: url("img/badminton.jpg");
}

.cardistry {
  background-image: url("img/cards.jpg");
}

.editing {
  background-image: url("img/editing.jpg");
}

@media (min-width: 992px) {
  .hobby-list {
    width: 950px;
    margin: 5% auto;
  }
}

/* try displaying images in a horizontal scrolling photo gallery */

/* Contact
**********************************************************/

.social {
  list-style: none;
}

.social li {
  display: inline-block;
  padding: 0px 20px;
}

.cont {
  font-size: 40px;
  color: #edf0f1;
  transition: 0.3s ease;
}

.cont:hover {
  transform: scale(1.2);
}

/* footer
**********************************************************/

footer {
  justify-content: center;
  text-align: center;
  background-color: #23272a;
  padding: 30px;
  margin-top: 5%;
}

footer p {
  padding-top: 10px;
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}
